<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="templates/stylelogin.css">
</head>
<body>
    <header>
		<nav>
			<ul class="menu">
                <li><img class="logo" src="templates/method-draw-image.svg" alt="" width="50" height="50"></li>
                <li><a class="logo-name" href="home">AIArtPlaner</a></li>
				<li><a href="catalog">Каталог</a></li>
				<li><a href="project">Мои проекты</a></li>
                <li><a href="support">Поддержка</a></li>
				<li><a href="team">О нас</a></li>
                <li><a href="home#price">Тарифы</a></li>
                <li><a href="home#news">Новости</a></li>
                <li><a class="login" href="login">Login</a></li>
			</ul>
		</nav>
	</header>
	<section>
		<div class="join">
			<h1>
				Вход в аккаунт
			</h1>
			<div class="joinflex">
				<div class="join-block">
					<p>С помощью почты:</p>
					<input class="input" type="login" name="login">
					<input class="input" type="password" name="password">
					<div class="check">
						<input type="checkbox" name="Запомнить меня">
						<p>Запомнить меня</p>
						<a href="#">Забыли пароль?</a>
					</div>
					<button>Войти</button>
				</div>
				<div class="join-block">
					<h1>Другие способы входа:</h1>
					<div class="social">
						<img src="templates/telegram_logo_icon_257011 1.svg" alt="">
						<img src="templates/vk_logo_icon_257013 1.svg" alt="">
						<img src="templates/facebook_logo_icon_257007 1.svg" alt="">
						<img src="templates/instagram_logo_icon_257003 1.svg" alt="">
						<img src="templates/odnoklassniki_logo_icon_257012 1.svg" alt="">
					</div>
					<div class="check">
						<p>Нет учетной записи?</p>
						<a href="#">Зарегистрироваться</a>
					</div>
				</div>
			</div>
		</div>
	</section>



	<footer>
        <div class="footer-about">
            <div class="footer-block">
                <h1>AIArtPlaner</h1>
                <h2>Присоединяйтесь к нам и откройте для себя мир безграничных возможностей в области проектирования и строительства!</h2>
                <p>2023</p>
            </div>
            <div class="footer-supports">
                <p>Поддержка</p>
                <p>О нас</p>
                <p>Контакты</p>
            </div>
        </div>
    </footer>
</body>
</html>