<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="templates/stylecatalog.css">
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><img class="logo" src="templates/method-draw-image.svg" alt="" width="50" height="50"></li>
                <li><a class="logo-name" href="home">AIArtPlaner</a></li>
				<li><a href="catalog">Каталог</a></li>
				<li><a href="project">Мои проекты</a></li>
                <li><a href="support">Поддержка</a></li>
				<li><a href="team">О нас</a></li>
                <li><a href="home#price">Тарифы</a></li>
                <li><a href="home#news">Новости</a></li>
                <li><a class="login" href="login">Login</a></li>
			</ul>
        </nav>
    </header>
    <main>
        <section>
            <div class="myprojects">
                <h1>Мои проекты</h1> 
                <p>Здесь расположены ваши проекты</p>
                   <div class="projects">
                       <div class="project-block">
                           <img src="templates/bet-dom.jpg" alt="" width="600px" height="368px">
                           <h1>Проект-11</h1>
                           <div class="text">
                                <p>Дом из бетона</p>
                                <p>Площадь: 215.16 кв. м.</p>
                           </div>
                       </div>
                       <div class="project-block">
                           <img src="templates/krip-dom.jpg" alt="" width="600px" height="368px">
                           <h1>Проект-12</h1>
                           <div class="text">
                                <p>Дом из кирпича</p>
                                <p>Площадь: 188.77 кв. м.</p>
                           </div>
                       </div>
                   </div>
            </div>
        </section>
    </main>
    <footer>
    <div class="footer-about">
        <div class="footer-block">
            <h1>AIArtPlaner</h1>
            <h2>Присоединяйтесь к нам и откройте для себя мир безграничных возможностей в области проектирования и строительства!</h2>
            <p>2023</p>
        </div>
        <div class="footer-supports">
            <p>Поддержка</p>
            <p>О нас</p>
            <p>Контакты</p>
        </div>
    </div>
    </footer>
</body>
</html>