<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="templates/styleteam.css">
</head>
<body>
    <header>
		<nav>
            <ul class="menu">
                <li><img class="logo" src="templates/method-draw-image.svg" alt="" width="50" height="50"></li>
                <li><a class="logo-name" href="home">AIArtPlaner</a></li>
				<li><a href="catalog">Каталог</a></li>
				<li><a href="project">Мои проекты</a></li>
                <li><a href="support">Поддержка</a></li>
				<li><a href="team">О нас</a></li>
                <li><a href="home#price">Тарифы</a></li>
                <li><a href="home#news">Новости</a></li>
                <li><a class="login" href="login">Login</a></li>
			</ul>
		</nav>
	</header>
    <section>
        <div class="team">
            <h1>Наша компания</h1>
            <img src="big_buildings.jpg.jpg">
            <p class="first">Также компания предлагает широкий спектр услуг по подбору планов домов. Специалисты компании помогут подобрать идеальный план для вашего участка, учитывая все ваши пожелания и потребности, а также предложат оптимальные варианты для реализации проекта.</p>
            <p class="second">Кроме того, компания активно сотрудничает с другими организациями в области архитектуры и строительства, что позволяет ей быть в курсе последних тенденций и инноваций в данной сфере.</p>
        </div>
    </section>
	

	<footer>
        <div class="footer-about">
            <div class="footer-block">
                <h1>AIArtPlaner</h1>
                <h2>Присоединяйтесь к нам и откройте для себя мир безграничных возможностей в области проектирования и строительства!</h2>
                <p>2023</p>
            </div>
            <div class="footer-supports">
                <p>Поддержка</p>
                <p>О нас</p>
                <p>Контакты</p>
            </div>
        </div>
    </footer>
</body>
</html>