<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://kit.fontawesome.com/8c5f8983b2.js" crossorigin="anonymous"></script>
</head>
<body>
	<header>
		<nav>
			<input type="checkbox" id="checkbox-menu">
			<label for="checkbox-menu">
			<ul class="menu touch">
				<li><a href="index2.html">Каталог аниме</a></li>
				<li><a href="index3.html">Топ 10</a></li>
				<li><a class="logo" href="#">Animeamid</a></li>
				<li><a href="index4.html">Отзывы</a></li>
				<li><a class="contacts" href="index5.html">Контакты</a></li>
			</ul>
			<span class="toggle">☰</span>
		    </label>
		</nav>
	</header>
	<main>
		<section class="intro wrapper">
			<div class="intro-img">
				<p class="intro-text">Каждый миг - <br>
				это шанс</p>
			</div>
			<div class="intro-space">
				
			</div>
			<!-- <div class="intro-contacts">
				<p><i class="fas fa-phone-alt"></i>+7-930-470-43-06</p>
				<p><i class="fas fa-map-marker-alt"></i>Москва, Россия</p>
			</div> -->
		</section>

		<section class="apartments">
			<div class="wrapper apart">
				<h2>Более 12000 <br> Тайтлов для вас</h2>
				<div class="all">
					<input checked type="radio" name="respond" id="desktop">
						<article id="slider">
								<input checked type="radio" name="slider" id="switch1">
								<input type="radio" name="slider" id="switch2">
								<input type="radio" name="slider" id="switch3">
								<input type="radio" name="slider" id="switch4">
								<input type="radio" name="slider" id="switch5">
							<div id="slides">
								<div id="overflow">
									<div class="image">
										<article><img src="img/1.jpg"></article>
										<article><img src="img/2.jpg"></article>
										<article><img src="img/3.jpg"></article>
										<article><img src="img/4.jpg"></article>
										<article><img src="img/5.jpg"></article>
									</div>
								</div>
							</div>
							<div id="controls">
								<label for="switch1"></label>
								<label for="switch2"></label>
								<label for="switch3"></label>
								<label for="switch4"></label>
								<label for="switch5"></label>
							</div>
							<div id="active">
								<label for="switch1"></label>
								<label for="switch2"></label>
								<label for="switch3"></label>
								<label for="switch4"></label>
								<label for="switch5"></label>
							</div>
						</article>
				</div>
			</div>
		
		</section>
		<section class="services wrapper">
			<h2>Статистика нашего сайта</h2>
			<div class="serv-container">
				<div class="serv-img-container">
					<img src="img/servroom.jpg" alt="">
				</div>
				<div class="serv-text">
					<h4>Наш сайт предоставляет более 12000 тайтлов.</h4>
					<p></p>
					<h4>За все время мы обслужили свыше 200000 клиентов.</h4>
					<p></p>
					<h4>Множество различных озвучек для полного комфорта.</h4>
					<p></p>
					<h4>Широкий выбор жанров.</h4>
					<p></p>
				</div>
			</div>
		</section>
		<section class="agents">
			<div class="wrapper">
				<h2>Топ 3 тайтла за месяц:</h2>

				<div class="agent-cards">
					<div class="agent-card">
						<img src="img/anime1.jpg" alt="">
						<div class="agent-info">
							
							<div class="agent-block">
								<p class="agent-name">Attack on titan</p>
								<div class="social">
									<a href="#"><i class="fa fa-play"></i></a>
								</div>
							</div>
						</div>
					</div>

					<div class="agent-card">
						<img src="img/anime2.jpg" alt="">
						<div class="agent-info">
							<div class="agent-block">
								<p class="agent-name">Demon slayer</p>
								<div class="social">
									<a href="#"><i class="fa fa-play"></i></a>
								</div>
							</div>
						</div>
					</div>

					<div class="agent-card">
						<img src="img/anime3.jpg" alt="">
						<div class="agent-info">
							<div class="agent-block">
								<p class="agent-name">JoJo bizzare adventure</p>
								<div class="social">
									<a href="#"><i class="fa fa-play"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<div class="footer-about">
		<div class="footer-supports">
			<a href="#">Политика конфиденциальности</a>
			
			<a href="#"><i class="fa fa-envelope-open" aria-hidden="true"></i> support@animeamid.com</a>
			<div class="footer-social">
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-vk"></i></a>
				<a href="#"><i class="fa fa-paper-plane"></i></a>
				<a href="#"><i class="fab fa-patreon"></i></a>
			</div>
		</div>
	</div>
	<script src="script.js"></script>
</body>
</html>