<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="style5.css">
	<script src="https://kit.fontawesome.com/8c5f8983b2.js" crossorigin="anonymous"></script>
</head>
<body>

	<header>
		<nav>
			<input type="checkbox" id="checkbox-menu">
			<label for="checkbox-menu">
			<ul class="menu touch">
				<li><a href="index2.html">Каталог аниме</a></li>
				<li><a href="index3.html">Топ 10</a></li>
				<li><a class="logo" href="index.html">Animeamid</a></li>
				<li><a href="index4.html">Отзывы</a></li>
				<li><a class="contacts" href="#">Контакты</a></li>
			</ul>
			<span class="toggle">☰</span>
		    </label>
		</nav>
	</header>
	<main>
		<section class="services wrapper">
			<h2>Контакты</h2>
			
			<div class="serv-container">
				<div class="serv-text">
					<h4>Группа ВК: https://vk.com/animeamid </h4>
					<h4>Twitter: https://twitter.com/animeamid</h4>
					<h4>Telegram: https://t.me/animeamid </h4>
					<h4>Patreon: https://www.patreon.com/animeamid</h4>
				</div>
				<div class="serv-img-container">
					<img src="img2/DIO!.jpg" alt="">
				</div>
			</div>
		</section>
	
	<div class="footer-about">
		<div class="footer-supports">
			<a href="#">Политика конфиденциальности</a>
			
			<a href="#"><i class="fa fa-envelope-open" aria-hidden="true"></i> support@animeamid.com</a>
			<div class="footer-social">
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-vk"></i></a>
				<a href="#"><i class="fa fa-paper-plane"></i></a>
				<a href="#"><i class="fab fa-patreon"></i></a>
			</div>
		</div>
	</div>
	<script src="script.js"></script>
</body>
</html>