<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="style2.css">
	<script src="https://kit.fontawesome.com/8c5f8983b2.js" crossorigin="anonymous"></script>
</head>
<body>

	<header>
		<nav>
			<input type="checkbox" id="checkbox-menu">
			<label for="checkbox-menu">
			<ul class="menu touch">
				<li><a href="index2.html">Каталог аниме</a></li>
				<li><a href="#">Топ 10</a></li>
				<li><a class="logo" href="index.html">Animeamid</a></li>
				<li><a href="index4.html">Отзывы</a></li>
				<li><a class="contacts" href="index5.html">Контакты</a></li>
			</ul>
			<span class="toggle">☰</span>
		    </label>
		</nav>
	</header>
	<main>
		<section class="apartments">
			<div class="wrapper apart">
				<h2>Топ 10 лучших аниме</h2>
				<div class="cards">
					<div class="card">
						<img src="img2/anime1.jpg" alt="">
						<div class="card-container">
							<p>Клинок рассекающий демонов</p>
							<div class="card-info">
								<div class="money">3 сезона 45 серий</div>
								<div class="info">
									<span><i class="fas fa-play"></i></span>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<img src="img2/anime2.jpg" alt="">
						<div class="card-container">
							<p>Токийский гуль</p>
							<div class="card-info">
								<div class="money">4 сезона 50 серий</div>
								<div class="info">
									<span><i class="fas fa-play"></i></span>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<img src="img2/anime3.jpg" alt="">
						<div class="card-container">
							<p>Невероятный приключения Джо Джо</p>
							<div class="card-info">
								<div class="money">5 сезонов 171 серия</div>
								<div class="info">
									<span><i class="fas fa-play"></i></span>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<img src="img2/anime4.jpg" alt="">
						<div class="card-container">
							<p>Атака титанов</p>
							<div class="card-info">
								<div class="money">4 сезона 121 серия</div>
								<div class="info">
									<span><i class="fas fa-play"></i></span>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<img src="img2/anime5.jpg" alt="">
						<div class="card-container">
							<p>Боец Баки</p>
							<div class="card-info">
								<div class="money">5 сезонов 89 серий</div>
								<div class="info">
									<span><i class="fas fa-play"></i></span>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<img src="img2/anime6.jpg" alt="">
						<div class="card-container">
							<p>Милый во Франксе</p>
							<div class="card-info">
								<div class="money">1 сезон 24 серии</div>
								<div class="info">
									<span><i class="fas fa-play"></i></span>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<img src="img2/anime7.jpg" alt="">
						<div class="card-container">
							<p>Тетрадь смерти</p>
							<div class="card-info">
								<div class="money">1 сезон 37 серии</div>
								<div class="info">
									<span><i class="fas fa-play"></i></span>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<img src="img2/anime8.jpg" alt="">
						<div class="card-container">
							<p>Магическая битва</p>
							<div class="card-info">
								<div class="money">1 сезон 25 серии</div>
								<div class="info">
									<span><i class="fas fa-play"></i></span>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<img src="img2/anime9.jpg" alt="">
						<div class="card-container">
							<p>Токийские мстители</p>
							<div class="card-info">
								<div class="money">1 сезон 24 серии</div>
								<div class="info">
									<span><i class="fas fa-play"></i></span>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<img src="img2/anime10.jpg" alt="">
						<div class="card-container">
							<p>Наруто</p>
							<div class="card-info">
								<div class="money">500 серии</div>
								<div class="info">
									<span><i class="fas fa-play"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	
	<div class="footer-about">
		<div class="footer-supports">
			<a href="#">Политика конфиденциальности</a>
			
			<a href="#"><i class="fa fa-envelope-open" aria-hidden="true"></i> support@animeamid.com</a>
			<div class="footer-social">
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-vk"></i></a>
				<a href="#"><i class="fa fa-paper-plane"></i></a>
				<a href="#"><i class="fab fa-patreon"></i></a>
			</div>
		</div>
	</div>
	<script src="script.js"></script>
</body>
</html>